.background {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background: #f4f4f4;
}

.grid-background {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 300px;
    background-color: transparent;
    transform: rotateZ(140deg);
    left: 0;
    z-index: 0;
}

.grid-background::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border: 2px solid var(--purplish);
    width: 100px;
    height: 25px;
    border-radius: 6px;
    box-shadow: 50px 30px silver;
}

.plain-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    width: min(1024px, 80%);
    min-height: 150px;
    padding: 30px 0;
}

@media screen and (max-width: 640px) {
    .plain-container {
        width: 87%;
    }
}

@media screen and (max-width: 550px) {
    .plain-container {
        width: 92%;
    }
}

.plain-container .registration-caption {
    display: block;
    position: relative;
    color: var(--bluish);
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 26px;
}

.box-container {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    min-height: 100px;
}

.box-container.profile-successful {
    border-radius: 7px;
    padding: 40px;
}

.box-container.profile-successful > h2 {
    display: block;
    position: relative;
    font-weight: 400;
    color: var(--bluish);
    font-size: 36px;
    margin-bottom: 20px;
}

.box-container.profile-successful > i {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 32px;
    color: var(--bluish);
    padding: 10px;
    background: var(--special-blue);
    border-radius: 50%;
    pointer-events: none;
}

.box-container.profile-successful > p {
    position: relative;
    display: block;
    color: #666;
    margin-bottom: 30px;
}

.box-container.profile-successful > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.box-container>h3 {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    margin-left: 15px;
}

.box-container>h3::before {
    display: block;
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background: var(--bluish);
    bottom: -3px;
    left: 0;
    transition: width 1s ease;
}

.box-container>h3:hover::before {
    width: 100%;
}

.box-container>h3::after {
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 4px;
    font-size: 18px;
    color: #999;
    font-family: 'Icofont';
    content: '\eaa0';
    font-weight: bold;
    transition: 0.3s transform 0.7s ease,
                0.3s color 0.7s ease-in-out;
}

.box-container>h3:hover::after {
    transform: rotateZ(90deg);
    color: var(--bluish);
}

.box-container .doc-profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: var(--bluish);
    font-weight: 600;
    position: absolute;
    top: 25px;
    right: 35px;
}

.box-container .doc-profile-header::before {
    display: block;
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background: var(--bluish);
    opacity: 0.4;
    border-radius: 50%;
}

.box-container .doc-profile {
    display: flex;
    flex-direction: row;
}

.doc-profile .image-box {
    display: block;
    position: relative;
    width: 140px;
    height: 140px;
    background: #fafafa;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.doc-profile .image-box>img {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.doc-profile .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    border-left: 2px solid #ccc;
    padding-left: 30px;
}

.doc-profile .details .name-group {
    display: block;
    position: relative;
    margin-bottom: 15px;

}

.doc-profile .details .name-group>h4 {
    color: var(--bluish);
    font-weight: 500;
    font-size: 18px;
}

.doc-profile .details .name-group>p {
    color: #888;
    font-weight: 400;
    font-size: 14px;
}

.box-container .qualifications {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Qualifications item */
.qual-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: #f1f1f1;
    border-left: 5px solid #aaa;
    padding: 25px;
    padding-left: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 20px;
}

.qual-container:last-child {
    margin-bottom: 20px;
}

.qual-container > i {
    display: block;
    position: absolute;
    top: 20px;
    left: 16px;
    color: var(--bluish);
    font-size: 26px;
}

.qual-container > .qual-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.qual-container > .qual-header > h3 {
    display: inline-block;
    color: var(--bluish);
    font-size: 18px;
    font-weight: 500;
}

.qual-container .icons {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: #888;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.qual-container .icons > i {
    display: inline-block;
    position: relative;
    transition: 0.4s ease;
    background: transparent;
    padding: 5px;
    border-radius: 50%;
}

.qual-container .icons > i:hover{
    color: var(--purplish);
    background: #ccc;
}

.qual-container .qual-main {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.qual-container .qual-main > .text {
    display: block;
    position: relative;
}

.qual-container .qual-main > .text > h4 {
    display: inline-block;
    color: #888;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
}

.qual-container .qual-main > .text > p {
    display: block;
    color: #555;
    font-weight: 500;
    font-size: 12px;
}

.qual-container .qual-main > .text > p > span {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 15px;
    background: lightgrey;

}
