.background {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background: #f4f4f4;
}

.grid-background {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 300px;
    background-color: transparent;
    transform: rotateZ(140deg);
    left: 0;
    z-index: 0;
}

.grid-background::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border: 2px solid var(--purplish);
    width: 100px;
    height: 25px;
    border-radius: 6px;
    box-shadow: 50px 30px silver;
}

.plain-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    width: min(1024px, 80%);
    min-height: 150px;
    padding: 30px 0;
}

@media screen and (max-width: 640px) {
    .plain-container {
        width: 87%;
    }
}

@media screen and (max-width: 550px) {
    .plain-container {
        width: 92%;
    }
}

.plain-container .registration-caption {
    display: block;
    position: relative;
    color: var(--bluish);
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 26px;
}

.box-container {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    min-height: 100px;
}

.box-container>h3 {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    margin-left: 15px;
}

.box-container>h3::before {
    display: block;
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background: var(--bluish);
    bottom: -3px;
    left: 0;
    transition: width 1s ease, transform 0.7s ease;
}

.box-container>h3:hover::before {
    width: 100%;
}

.box-container > h3::after {
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 4px;
    font-size: 18px;
    color: #999;
    font-family: 'Icofont';
    content: '\eaa0';
    font-weight: bold;
    transition: 0.3s transform 0.7s ease;
}

.box-container>h3:hover::after {
    transform: rotateZ(90deg);
}

.box-container .doc-profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: var(--bluish);
    font-weight: 600;
    position: absolute;
    top: 25px;
    right: 35px;
}

.box-container .doc-profile-header::before {
    display: block;
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background: var(--bluish);
    opacity: 0.4;
    border-radius: 50%;
}

.box-container .doc-profile {
    display: flex;
    flex-direction: row;
}

.doc-profile .image-box {
    display: block;
    position: relative;
    width: 140px;
    height: 140px;
    background: #fafafa;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.doc-profile .image-box>img {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.doc-profile .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    border-left: 2px solid #ccc;
    padding-left: 30px;
}

.doc-profile .details .name-group {
    display: block;
    position: relative;
    margin-bottom: 15px;

}

.doc-profile .details .name-group>h4 {
    color: var(--bluish);
    font-weight: 500;
    font-size: 18px;
}

.doc-profile .details .name-group>p {
    color: #888;
    font-weight: 400;
    font-size: 14px;
}

.box-container .qualifications {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}