.tab-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 0!important;
    font-family: 'Poppins';
    border-bottom: 1px solid #eee;
}

.tab-container .tab {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 25px;
    color: #999;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: normal;
    transition: 0.2s ease;
    border-bottom: 3px solid transparent;
}

.tab-container .tab > i {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}

.tab-container .tab:hover:not(.tab.active) {
    border-bottom: 3px solid #ccc;
    cursor: pointer;
}

.tab-container .tab.active {
    color: var(--bluish);
    border-bottom: 3px solid var(--bluish);
    font-weight: normal;
}

/* tab page content */
.tab-page-content, .tab-page-content .page-body {
    margin: 40px 0;
    display: block;
    position: relative;
}

.tab-page-content .page-header {
    color: var(--main-green);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.6px;
    position: relative;
}

.tab-page-content .page-header::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-bottom: 4px solid #aaa;
    width: 60px;
}

.tab-page-content .page-body .profile-table {
    display: table;
    border: none;
    width: 100%;

}

.tab-page-content .page-body .profile-table > tbody > tr:first-child,
.tab-page-content .page-body .profile-table > tbody > tr:last-child {
    width: 20%;
}

.tab-page-content .page-body .profile-table > tbody td {
    padding: 15px 0;
}

.tab-page-content .page-body .profile-table > tbody td:first-child {
    font-weight: 600;
    width: 150px;
    letter-spacing: 0.4px;
    font-size: 14px;
    color: #555;
}

.tab-page-content .page-body .profile-table > tbody td:nth-child(2) {
    font-weight: normal;
    font-size: 14.5px;
    width: 150px;
    letter-spacing: 0.6px;
    color: #888;
    width: calc(100% - 300px);
}

.tab-page-content .page-body .profile-table > tbody td:last-child {
    width: 150px;
    color: var(--bluish);
    cursor: pointer;
    font-size: 12px;
    text-align: right;
}

.tab-page-content .page-body .profile-table > tbody td:last-child:hover {
    text-decoration: underline;
}

.sel-items {
    background: #efefef;
    padding: 10px;
    margin-bottom: 20px;
    color: #666;
    font-size: 13px;
}